<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>179479625797-lcsr6i9viqpe9raa7qvo5kbd1mdvi56l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.179479625797-lcsr6i9viqpe9raa7qvo5kbd1mdvi56l</string>
	<key>API_KEY</key>
	<string>AIzaSyCQvklV9opEkmN-hZvqHOOS0AJKbqKUPxM</string>
	<key>GCM_SENDER_ID</key>
	<string>179479625797</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firebNotes</string>
	<key>PROJECT_ID</key>
	<string>fireb-notes</string>
	<key>STORAGE_BUCKET</key>
	<string>fireb-notes.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:179479625797:ios:8962fa70853ae6977ba32c</string>
</dict>
</plist>